@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap'); /* importation police 'Osqwald*/

html{
    background-image: url(../REA3_site/images/vinyls-1182485.jpg);

    --shadow:10px 10px 10px rgb(0 0 0/ 0.2);
}
body{      
    font-family: 'Oswald', sans-serif;  /*application police Oswald*/
    color: #293241 ;
    font-size: 1rem;
    
    

    
}

h1{
    margin: 1vh ;

}

a{
    color: #293241;
}

#logoHdr{
    height: 3vh;
}
header{
    background-color:#e0fbfc;
    display:flex;
    justify-content: space-between; 
    align-items: center;
    border-radius: 30px; 
    height: 7vh;
    padding-left: 1vh;
    padding-right: 1em; 
    border: solid 1px #3d5a80;
    box-shadow: var(--shadow);
}

#search{
    height: 2.5vh; 
    width: 10vh;
    margin-top: 2.5vh;
    border-radius: 10px;

}
#loupe{
    
    
    height:2.5vh;
 
}
nav{
    background-color:  #e0fbfc  ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5vh;
    border-radius: 2em;
    border: solid 1px #3d5a80;
}
.navLinks{
    color: #293241;
    
}
.navLinks:hover{
    background-color: #e0fbfc;
    
}

span{

    background-color: #e0fbfc;
    display: flex;
    
    flex-direction: column;
    
    border: solid 1px #3D405B;
    
    border-radius: 2em;
    margin: 1em;
    
    
    
}
.spanLinks{
    margin: 20px;

}

.posts{
    background-color: #e0fbfc;
    border: solid 1px #3d5a80;
    margin: 1em;
    border-radius: 2em;
    padding:1em;
    backdrop-filter: blur(1em);
    box-shadow: var(--shadow);
}

container{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    
}

.bdRad{ /*arrondir coins*/
    border-radius: 5px;  
}

.userImg{ /*image utilisateur*/
    height: 3vh;
}

form{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input  {
    border-radius: 1vh;
    height: 5vh;
    width:40vh;
    margin: 1vh;
    font-size: large;
    text-align: center;
     
}